/* 公共样式 */
.allpage {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.van-loading {
    top: 50%;
}

.ISKUDetails {
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    margin-bottom: 1rem;
  }

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .iosButton {
        padding-bottom: 34px !important;
        background: #f2f2f2 !important;
    }

    .iosButtonPop {
        padding-bottom: 40px !important;
        background: #ffffff !important;
    }
    .ISKUDetails {
        width: 100%;
        background: #ffffff;
        box-sizing: border-box;
        padding: 0.3rem 0.3rem 1rem 0.3rem;
        margin-bottom: 1rem;
      }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 2) {
    .iosButton {
        padding-bottom: 34px !important;
        background: #f2f2f2 !important;
    }

    .iosButtonPop {
        padding-bottom: 40px !important;
        background: #ffffff !important;
    }
    .ISKUDetails {
        width: 100%;
        background: #ffffff;
        box-sizing: border-box;
        padding: 0.3rem 0.3rem 1rem 0.3rem;
        margin-bottom: 1rem;
      }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    .iosButton {
        padding-bottom: 34px !important;
        background: #f2f2f2 !important;
    }

    .iosButtonPop {
        padding-bottom: 40px !important;
        background: #ffffff !important;
    }
    .ISKUDetails {
        width: 100%;
        background: #ffffff;
        box-sizing: border-box;
        padding: 0.3rem 0.3rem 1rem 0.3rem;
        margin-bottom: 1rem;
      }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .iosButton {
        padding-bottom: 34px !important;
        background: #f2f2f2 !important;
    }

    .iosButtonPop {
        padding-bottom: 40px !important;
        background: #ffffff !important;
    }
    .ISKUDetails {
        width: 100%;
        background: #ffffff;
        box-sizing: border-box;
        padding: 0.3rem 0.3rem 1rem 0.3rem;
        margin-bottom: 1rem;
      }
}

.van-dialog {
    top: 25% !important;
    left: 15% !important;
    transform: none !important;
    transition: none !important;
}

.IAddressDialog .van-dialog {
    left: 5% !important;
}

.list .van-cell__title, .list .van-cell__value {
    display: flex;
    align-items: center;
}
