@media (min-width: 1200px){html{font-size: 62.5px;} }
@media (min-width: 1280px){html{font-size: 66.66666666666666px;} }
@media (min-width: 1366px){html{font-size: 71.14583333333333px;} }
@media (min-width: 1440px){html{font-size: 75px;} }
@media (min-width: 1600px){html{font-size: 83.33333333333334px;} }
@media (min-width: 1680px){html{font-size: 87.5px;} }
@media (min-width: 1920px){html{font-size: 100px;} }
@media (min-width: 2560px){html{font-size: 133.33333333333331px;} }
@media (min-width: 4096px){html{font-size: 213.33333333333334px;} }