html {
  /*background: #f5e3ec;*/
  /* max-width: 750px; */
  margin: 0 auto;
}

@font-face {
  font-family: 'HYZhongDengXianJ';
  src: url('../assets/HYg2gj.woff2') format('woff2'),
      url('../assets/HYg2gj.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  // font-family: 'HYZhongDengXianJ' !important;
}

.van-popup {
  background: none;
  overflow: hidden;
}

.van-toast {
  background-color: rgba(0, 0, 0, 0.7);
  flex-wrap: nowrap;
  min-width: max-content;
}

.show {
  background-color: rgba(0, 0, 0, 0.7);
}

input {
  box-sizing: border-box;
}
input:read-only {
  opacity: 1;
}
input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #d2a090;
  /* placeholder字体大小  */
  font-size: .28rem;
  // position: absolute;
  // right: .5rem;
  height: .4rem;
  line-height: .4rem;
  // text-align: right;
}

.inxex {
  background: url(//img10.360buyimg.com/imgzone/jfs/t1/124497/3/20981/207924/61d7019dEc2555c36/1b630a1edabdef06.png) no-repeat;
  background-size: 100%;
  background-color: #f9d1b4;
  height: 16.24rem;
  min-height: 100vh;
  position: relative;
  // font-family: 'HYZhongDengXianJ';
  .logo {
    padding: 1.1rem 0 1.4rem 0;
    img {
      display: block;
      width: 1.87rem;
      margin: 0 auto;
    }
  }
  .piaodai {
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 2rem;
    }
  }
  .piaodai2 {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      width: 2rem;
      transform: rotate(180deg);
    }
  }
}

.rule-button {
  background: url(//img10.360buyimg.com/imgzone/jfs/t1/201856/22/19517/2334/61c3e64cE634e01d3/bfc93cca896d2f4a.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 1rem;
  width: .5rem;
  height: 1.5rem;
}
.rule-bg {
  width: 6.5rem;
  height: 7rem;
  background: url(//img10.360buyimg.com/imgzone/jfs/t1/202445/7/20138/121692/61d7ae64Ef57e8ed5/a3ea9a87e15226d6.png) no-repeat;
  background-size: 100%;
  position: relative;
}
.rule-bg img {
  position: absolute;
  top: 0.25rem;
  left: 1rem;
  width: 4.5rem;
}

.form {
  width: 95%;
  height: 530px;
  position: relative;
  background-size: 100%;
  padding: 0 0.2rem 0 0.2rem;
  margin: 0 .2rem 0 .2rem;
  top: 3rem;
  .box {
    height: .4rem;
    padding: 0 0 0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    // margin-top: 0.6rem;
    span {
      display: block;
      font-size: 0.28rem;
      width: 0.7rem;
      height: 0.4rem;
      line-height: 0.4rem;
      margin-left: 0.3rem;
      margin-top: .1rem;
      color: #d47352;
    }
    input {
      width: 4.7rem;
      height: 0.4rem;
      font-size: 0.28rem;
      color: #d47352;
      line-height: 0.4rem;
      background: none;
      border-style: none;
      text-align: left;
      padding-right: 0.72rem;
      margin-left: 0.5rem;
      margin-top: 0.07rem;
      white-space: nowrap;
      word-break: break-all;
    }
    p {
      width: 4.7rem;
      height: .4rem;
      font-size: 0.28rem;
      color: #d47352;
      line-height: .4rem;
      text-align: left;
      padding-right: 0.72rem;
      margin-left: 0rem;
      margin-top: .1rem;
      //border: 0.01rem solid #fff;
      // font-family: 'HYZhongDengXianJ';
      // position: relative;
    }
    p img {
      position: absolute;
      display: block;
      top: .13rem;
      right: .15rem;
      width: .245rem;
      border: 1px solid transparent;
      border-left: #fff;
    }
  }
}
.goToShop {
  width: 5.8rem;
  height: 2.8rem;
  margin-left: 0.8rem;
  margin-top: -0.5rem;
  position:absolute;
}
.animation {
  transition: 0.5s;
  width: 0.16rem;
}
.active {
  transform: rotate(180deg);
}
.confirm {
  display: block;
  position: absolute;
  top: 8.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5.5rem;
  height: 0.7rem;
}
.open-card-img {
  width: 6.5rem;
}
.go-open-card {
  position: absolute;
  bottom: 1.2rem;
  left: 2rem;
  width: 2.4rem;
  height: 0.5rem;
}
.open-card-close {
  position: absolute;
  //background: url(//img10.360buyimg.com/imgzone/jfs/t1/157490/40/22814/1850/61b95289E9d07f377/3dcfc3485a5f18d0.png) no-repeat;
  background-size: 100%;
  //right: 12px;
  //top: 12px;
  right: 0rem;
  top: 0.1rem;
  width: 0.5rem;
  height: 0.5rem;
}

@font-face {
  /* font-properties */
  font-family: SourceHanSansCN;
  src:url('../assets/SourceHanSansCN-Medium_2.otf')
}

.rule-content {
  width: 6.3rem;
  height: 5rem;
  padding: .2rem;
  position: absolute;
  top: 1.4rem;
  left: 0.1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: .28rem;
  font-family: SourceHanSansCN;
  font-weight: normal;
  // .rule-text {
  //   width: 100%;
  //   height: 100%;
  // }
  //background-color: rgba(66, 77, 33, .5);
}

.open-rule-close {
  position: absolute;
  background: url(//img10.360buyimg.com/imgzone/jfs/t1/174449/33/24223/1035/61c3ec76E213d6d36/e73049e040fe136b.png) no-repeat;
  background-size: 100%;
  right: .25rem;
  top: .25rem;
  width: 0.5rem;
  height: 0.5rem;
}

.isAddressMask {
  height: .6rem;
  width: 5rem;
  position: absolute;
  top: 7.4rem;
  left: 1.7rem;
  z-index: 111;
  //background-color: rgba(233, 111, 65, .5);
}