html {
  /*background: #f5e3ec;*/
  /* max-width: 750px; */
  margin: 0 auto;
}

@font-face {
  font-family: 'HYZhongDengXianJ';
  src: url('../assets/HYg2gj.woff2') format('woff2'),
      url('../assets/HYg2gj.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.van-popup {
  background: none;
  overflow: hidden;
}

.van-toast {
  background-color: rgba(0, 0, 0, 0.7);
  flex-wrap: nowrap;
  min-width: max-content;
}

.show {
  background-color: rgba(0, 0, 0, 0.7);
}

input {
  box-sizing: border-box;
}

.inxex {
  background: url(//img10.360buyimg.com/imgzone/jfs/t1/203572/17/16601/4910/61a43ff1Ede304b1f/bcb71423f29ae1ba.jpg) no-repeat;
  background-size: 100%;
  background-color: #171717;
  height: 16.24rem;
  min-height: 100vh;
  position: relative;
  font-family: 'HYZhongDengXianJ';
  .logo {
    padding: 1.1rem 0 1.4rem 0;
    img {
      display: block;
      width: 1.87rem;
      margin: 0 auto;
    }
  }
  .piaodai {
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 2rem;
    }
  }
  .piaodai2 {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      width: 2rem;
      transform: rotate(180deg);
    }
  }
}

.form {
  padding: 0 0.95rem;
  .box {
    height: 1rem;
    border: 0.01rem solid #fff;
    padding: 0 0 0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.55rem;
    span {
      font-size: 0.24rem;
      line-height: 1rem;
      letter-spacing: 0.024rem;
      color: #ffffff;
    }
    input {
      width: 3.5rem;
      font-size: 0.28rem;
      color: #fff;
      line-height: 0.8rem;
      background: none;
      border: none;
      text-align: right;
      padding-right: 0.32rem;
      font-family: 'HYZhongDengXianJ';
    }
    input:disabled {
      color: #fff;
      background: none;
      opacity: 1;
    }
    p {
      width: 3.5rem;
      font-size: 0.28rem;
      color: #fff;
      line-height: 0.8rem;
      text-align: right;
      padding-right: 0.32rem;
      font-family: 'HYZhongDengXianJ';
    }
  }
}
.animation {
  transition: 0.5s;
  width: 0.16rem;
}
.active {
  transform: rotate(180deg);
}
.confirm {
  display: block;
  margin: 3.3rem auto 1.7rem;
  width: 5.6rem;
}
.open-card-img {
  width: 6.5rem;
}
.go-open-card {
  position: absolute;
  bottom: 1.2rem;
  left: 2.1rem;
  width: 2.3rem;
  height: 0.8rem;
}
.open-card-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.5rem;
  height: 0.5rem;
}