@import '~lz-crm/style/variables';
body {
  background-color: #eeeeee;
}
// element 样式重写
// button
.el-button--text {
  color: $BLUE;
}

// table
.el-table {
  font-size: 12px!important;

  .el-button.el-button--text.el-button--small {
    padding-top: 0;
    padding-bottom: 0;
  }
}
// tab
.el-tabs {
}
.el-tabs--card>.el-tabs__header {
  margin-bottom: 0;
  border-bottom: 0;
  .el-tabs__item.is-active {
    background-color: $WHITE;
  }
}
.el-tabs__content {
  background-color: $WHITE;
  padding: 20px;
  overflow: visible;
}