.icon{
    background-image: url("/images/sprite.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: -1000px -1000px;
    vertical-align: text-top;
}
.icon-phone{
    background-position: 0 0;
}
.icon-inbox{
    background-position: -24px 0;
}
.icon-location{
    background-position: -48px 0;
}