@charset "UTF-8";
$--color-primary: #38adff;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;
$--color-black: #303133;
$--color-white: #FFFFFF;



//unactive
$--color-tag-border-unactive: #17c295;
$--color-tag-unactive: rgba(64,158,255,0.1);
//蓝：

//绿色：
//#17c295
$--color-tag-border-1: #17c295;
$--color-tag-1: rgba(23, 194, 149, 0.2);
//蓝：
//#38adff
$--color-tag-border-2: #38adff;
$--color-tag-2: rgba(56, 173, 255, 0.2);
//橙：
//f7b55e
$--color-tag-border-3: #f7b55e;
$--color-tag-3: rgba(247, 181, 94, 0.2);
//红：
//E0614C
$--color-tag-border-4: #E0614C;
$--color-tag-4: rgba(224, 97, 76, 0.2);
//紫：
//C78CDD
$--color-tag-border-5: #C78CDD;
$--color-tag-5: rgba(199, 140, 221, 0.2);
//黄：
//f3d34c
$--color-tag-border-6: #f3d34c;
$--color-tag-6: rgba(243, 211, 76, 0.2);
