body {
  margin: 0;
  font-family:  SC-Regular, PingFang SC;
  color: #222222;
}
a {
  text-decoration: none;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
button {
  background-color: #ffffff;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}

