html {
  /*background: #f5e3ec;*/
  /* max-width: 750px; */
  margin: 0 auto;
}
[v-cloak] {
  display: none;
}
@font-face {
  font-family: 'HYZhongDengXianJ';
  src: url('../assets/HYg2gj.woff2') format('woff2'),
      url('../assets/HYg2gj.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  //font-family: 'HYZhongDengXianJ' !important;
}
input::-webkit-input-placeholder {
  /* placeholder颜色  */
  //color: #000;
  /* placeholder字体大小  */
  font-size: .3rem;
  font-weight: 600;
}
.van-popup {
  background: none;
  overflow: hidden;
}

.van-toast {
  background-color: rgba(0, 0, 0, 0.7);
  flex-wrap: nowrap;
  min-width: max-content;
}
//.input-black{
//  ::-webkit-input-placeholder {
//    /* placeholder颜色  */
//    color: #000 !important;
//    /* placeholder字体大小  */
//  }
//}

.show {
  background-color: rgba(0, 0, 0, 0.7);
}

input {
  box-sizing: border-box;
}
.forbidden-name{
  position: absolute;
  width: 5.2rem;
  height: 0.8rem;
  left: 1.5rem;
}
.forbidden-sex{
  position: absolute;
  width: 4.5rem;
  height: 0.8rem;
  left: 1.5rem;
  top: 2.5rem;
}

.inxex {
  background: url(//img10.360buyimg.com/imgzone/jfs/t1/176304/38/25393/279618/61cc43f4E21cff567/1eb7873cdb981cc2.png) no-repeat;
  background-size: 100%;
  background-color: #f6f5f5;
  min-height: 100vh;
  position: relative;
  //font-family: 'HYZhongDengXianJ';
  font-size: .3rem;
  font-weight: 600;

  .logo {
    padding: 1.1rem 0 1.4rem 0;
    img {
      display: block;
      width: 1.87rem;
      margin: 0 auto;
    }
  }
  .piaodai {
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 2rem;
    }
  }
  .piaodai2 {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      width: 2rem;
      transform: rotate(180deg);
    }
  }
}

.form {
  width: 95%;
  height: 530px;
  position: absolute;
  //background: url(//img10.360buyimg.com/imgzone/jfs/t1/196975/11/20540/327678/61b85bfeE56f7191e/bd072375b3d11214.png) no-repeat;
  background-size: 100%;
  padding: 0 0.2rem 0 0.2rem;
  margin: 0 .2rem 0 .2rem;
  top: 3.4rem;
  .box {
    height: .4rem;
    padding: 0 0 0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;

    .van-radio__label {
      line-height: 1rem;
      letter-spacing: 0.024rem;
      color: #000;
      font-weight: 600;
    }
    .name-input{
      height: .6rem;
      line-height: .6rem;
      border: 0.01rem solid #000;
      border-radius: .1rem;
      white-space:nowrap;
      word-break:keep-all;

    }
    input {
      width: 5rem;
      height: .6rem;
      //font-size: 0.27rem;
      color: #000;
      line-height: 0.6rem;
      background: none;
      //border: 0.01rem solid #770000;
      border-style: none;
      text-align: left;
      padding-right: 0.1rem;
      margin-left: 1rem;
      margin-top: 0rem;
    }
    p {
      width: 5rem;
      height: .4rem;
      font-size: 0.28rem;
      color: #000;
      line-height: 0.4rem;
      text-align: left;
      padding-right: 0.32rem;
      margin-left: 1rem;
      margin-top: 0rem;
      //border: 0.01rem solid #770000;
      //font-family: 'HYZhongDengXianJ';
      position: relative;
    }
    //p::before {
    //  content: "";
    //  display: block;
    //  width: .55rem;
    //  height: .38rem;
    //  margin-left: 2.95rem;
    //  //border: 1px solid transparent;
    //  border-left: 1px solid #fff;
    //  position: absolute;
    //}
    p img {
      position: absolute;
      display: block;
      top: .13rem;
      right: .15rem;
      width: .245rem;
      border: 1px solid transparent;
      border-left: #fff;
    }
  }
}
.goToShop {
  width: 5.8rem;
  height: 2.8rem;
  transform: translate(0.85rem, 9.62rem);
}
.animation {
  transition: 0.5s;
  width: 0.16rem;
}
.active {
  transform: rotate(180deg);
}
.confirm-button {
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 5rem;
  height: .7rem;
  justify-content: center;
  //background-color: rgba(127, 99, 77, .5);
}
.confirm {
  background: url(//img10.360buyimg.com/imgzone/jfs/t1/210945/11/13215/2149/61c03e81Edad09f47/ccd1e46f1f97f6dc.png) no-repeat;
  background-size: 100%;
  //position: absolute;
  //top: 12.4rem;
  //left: 50%;
  width: 2rem;
  height: 0.7rem;
}
.skip {
  background: url(//img10.360buyimg.com/imgzone/jfs/t1/220047/30/8422/1367/61c03e81Eabb5d323/a5339d1f2f275559.png) no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 0.7rem;
  margin-left: 1rem;
}
.open-card-img {
  width: 6.5rem;
}
.go-open-card {
  position: absolute;
  bottom: 4.55rem;
  left: 1.6rem;
  width: 3.3rem;
  height: 0.7rem;
}
.open-card-close {
  position: absolute;
  //background: url(//img10.360buyimg.com/imgzone/jfs/t1/157490/40/22814/1850/61b95289E9d07f377/3dcfc3485a5f18d0.png) no-repeat;
  background-size: 100%;
  //right: 12px;
  //top: 12px;
  right: 0.8rem;
  top: 3.5rem;
  width: 0.7rem;
  height: 0.7rem;
}
